body{
    max-width: 100vw;
    background-color: #222;
}

form{
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
    background-color: rgb(255, 255, 255);
}




  .footer{
      position:absolute;
      bottom: 0;
      width: 69%;
      height: auto;
      background-color: #222;
      text-align: center;
      color: wheat;
  }